.navbar {
    background-color: rgb(255, 187, 0);
    width: 100%;
    height: 60px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 5px 15px;
}

.navbar_logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(28, 172, 28);
    text-transform: uppercase;
}

.navbar_logo:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.navbar_icon {
    justify-content: space-between;
    color: rgb(28, 172, 28);
    display: flex;
}

.navbar_modal {
    text-align: center;
    z-index: 2;
    display: none;
    /*to remove  */
}

ul>li {
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid rgb(107, 79, 79);
}

a:hover {
    text-decoration: none;
}

ul>li>a {
    color: black;
}

img {
    height: 100vh;
    opacity: white 0;
    width: 100vw;
    z-index: 0;
}

.home {
    position: relative;
    height: 25vh;
}

.home_typer {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
}

.section1 {
    background-image: url(https://bit.ly/36qDPwM);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    height: 100vh;
}